{% load static %}
{% load crispy_forms_filters crispy_forms_tags %}
<table class="table">
<thead>
<tr>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Action</th>
</tr>
</thead>
    <tbody>
    {{ formset.management_form|crispy }}

    {% for form in formset.forms %}
        <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
            {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field|as_crispy_field }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="{% static 'jquery.formset.js' %}">
</script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: "Add New <i class='fa fa-plus'></i>",
        addCssClass: "btn btn-outline-primary",
         deleteCssClass: "btn btn-outline-danger delete",
        deleteText: "<i class='fa fa-trash'></i>",
        prefix: '{{ formset.prefix }}',
    });
</script>