{% extends 'base.html' %}

{% block content %}
    <div class="card mt-5 shadow-lg w-75 mx-auto p-5">
        <table class="table table-hover text-center" id="order_table">
            <thead class="thead-dark">
            <tr>
                <th>Order Number</th>
                <th>Client Name</th>
                <th>Total Item</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#order_table').DataTable({
                "processing": true,
                "serverSide": true,
                "lengthMenu": [[2, 5, 20, -1], [2, 5, 20, "All"]],
                ajax: function (data, callback, settings) {
                    // make a regular ajax request using data.start and data.length
                    $.get('/order-list/', {
                        limit: data.length,
                        offset: data.start,
                        search: data.search.value,
                        order: data.order[0]["column_name"]
                    }, function (res) {
                        // map your server's response to the DataTables format and pass it to
                        // DataTables' callback
                        callback({
                            recordsTotal: res.count,
                            recordsFiltered: res.count,
                            data: res.results
                        });
                    });
                },
                "columns": [
                    {"data": "order_num", "orderable": false},
                    {"data": "client_name", name: "client_name"},
                    {"data": "total_item", name: "total_item"},
                    {"data": "total_price", name: "total_price"},
                    {
                        sortable: false,
                        "render": function (data, type, full, meta) {
                            return '<a href="/order/'+full.id+'/details/" class="btn btn-sm btn-outline-success">Detail</a>';
                        }
                    }
                ],
                "order": [
                    [1, "desc"],
                    [2, "desc"],
                    [3, "desc"],
                ],

                fnServerParams: function (data) {
                    data['order'].forEach(function (items, index) {
                        data['order'][index]['column_name'] = data['columns'][items.column]['data'];
                    });
                },
            })
        })
    </script>
{% endblock %}