{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card mt-5 shadow-lg w-50 mx-auto p-5">
        <div class="card-header mb-5">
            <h1 class="text-center">{{ object.client_name }}'s Order Detail's ID <b>#{{ object.order_num }}</b></h1>
        </div>
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('.quantity').keyup(function () {
                if (this.value === 0) this.value(1)
                console.log(this.value)
            })
        })
    </script>
{% endblock %}