{% extends 'base.html' %}

{% block content %}
    <div class="card mt-5 shadow-lg w-50 mx-auto table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th>Order Number</th>
                <th>Client Name</th>
                <th>Total Item</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.order_num }}</td>
                    <td>{{ object.client_name }}</td>
                    <td>{{ object.total_item }}</td>
                    <td>{{ object.total_price }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-outline-success">Detail</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}